ultralytics==8.2.101
pandas==2.0.3
supervision==0.21.0
Flask==2.2.5
ipython==8.12.3
tabulate==0.9.0
asgiref==3.4.1
certifi==2021.5.30
click==8.0.1
fastapi==0.68.1
h11==0.12.0
minio==7.1.0
pydantic==1.8.2
python-multipart==0.0.5
six==1.16.0
starlette==0.14.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
psycopg2==2.9.9
paddleocr==2.8.1
paddlepaddle==2.6.2
numpy==1.24.4
scipy==1.10.0
flask_cors==5.0.0